<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% @trainer.pokemons.each do |pokemon| %>
	<%= pokemon.name %>
	<%= pokemon.level %>
	<%= pokemon.health %>
	<%= button_to "Damage this pokemon!", damage_path(id: pokemon.id, trainer_id: @trainer.id), :class => "button small", :method => :patch %>
<% end %>

<% if @trainer == current_trainer %>
	<%= button_to "Create new", new_path, :class => "button small", :method => :get,
		params: {trainer_id: @trainer} %>
<% end %>

